 *{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(230,238,245);
}
.image {
    height: 100px;
    width: calc(100% - 40px);
    border:none;
    border-radius:12px;
    margin: 0 20px;
    margin-bottom: 20px;
}

.input  h2{
    margin-bottom: 8px;
    font-size: 17px;
}
.radio h2
{
    margin-bottom: 8px;
    font-size: 17px;
    padding-top: 12px;
}
.input{
    padding: 23px;
    
    margin-bottom: 12px;
    background-color: #ffffff;
    padding-left: 12px;
    border-radius: 5px;
    margin: 0 20px ;
    margin-bottom: 12px;
   

    margin-top:12px;
    
box-sizing:border-box;

}
.radio{
    margin-bottom: 12px;
       background-color: white;
    padding-left: 12px;
    border: none;
    border-radius: 5px;
    margin: 0 20px;
    margin-bottom: 12px;
    padding-bottom: 12px;

   
}
.radio-option {
    display:flex;
    align-items: center;
    gap:6px;
    margin-bottom: 6px;
    cursor:pointer;
}
.radio-option input {
    width: auto;   
    margin:0;
}
.assessment{
    background-color: white;
    padding: 12px 16px;
    margin:0 20px 20px 20px;
    border: none;
    border-top: 21px solid rgba(22, 71, 163, 0.87);
    border-radius: 5px;
    margin: 0 20px;
    padding-bottom: 12px;
    margin-bottom: 20px;
}
.assessment h1{
    font-family: 'Comfortaa';
    font-weight: 700;
    font-size:24px ;
    
}
.assessment p1{

    font-family: 'Roboto', sans-serif;
        font-weight:  700;
}

.program .radio {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 6px;
}

.program .radio input {
    width: auto;   
}
input{
    width: calc(100% - 20px);  
    padding: 8px;
    border:none;
    background: transparent;
    outline: none;
    border-bottom: 0.5px solid black;

    
}
input:hover{
    border-bottom-color: blue;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius:12px;
}
option{
    color: black;              /* color of options */
    background-color: white;  
    width:20px;

}
select {
    width: auto;
min-width:200px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    
      color: black;      
    background-color: white;  
}

button{
    background-color: rgb(22, 71, 163);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 20px;
}
.form-container{
    width:700px;
    max-width: 90%;
    display:flex;
    flex-direction: column;
    
    margin: 20px auto;
}